* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

header {
  background: white;
}

body {
  background: url(https://i.imgur.com/r0VFFep.png);
  min-height: 100vh;
}
